@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Upstate Job Hunter</h1>
    <p class="lead"><i>We're here to help find the right job for you!</i></p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn More About Us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find A Listing</h2>
        <p>
            Job listings are posted here<br />Click the button to start searching
        </p>
        <p><a class="btn btn-default" href="/Listings/Index">Job Listings &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create An Account</h2>
        <p>Sign up in order to post job reviews</p>
        <p><a class="btn btn-default" href="/Users/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>